@use '../../sass/mixins';
.contact {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  gap: 50px;

  @include mixins.mobile {
    width: 100%;
    flex-direction: column;
    padding: 10px;
    // gap: 15px;
    gap: 0;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include mixins.mobile {
      gap: 5px;
      text-align: center;
      align-items: center;
      padding-top: 50px;
    }
    h2 {
      font-size: 100px;
      line-height: 88px;
      @include mixins.mobile {
        font-size: 36px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    .phoneSvg {
      stroke: orange;
      position: absolute;
      margin: auto;
      z-index: -1;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include mixins.mobile {
        padding: 30px;
        width: 100%;
      }

      input,
      textarea {
        width: 100%;
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        outline: none;
        @include mixins.mobile {
          padding: 10px;
        }
      }

      .message-error {
        font-size: 14px;
        color: orange;
        font-weight: 200;
      }

      button {
        position: relative;
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        &:hover {
          background-color: rgb(241, 161, 12);
          transition: 0.2s all;
        }
        &:active {
          background-color: rgb(255, 153, 0);
        }
        @include mixins.mobile {
          padding: 10px;
        }
      }
    }
  }
}
