@use '../../sass/mixins';
.navbar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    // max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include mixins.mobile {
      justify-content: flex-end;
      padding: 20px;
    }
    // margin: 0 4rem; //cambiar en el responsive
    span {
      font-weight: bold;
      @include mixins.mobile {
        display: none;
      }
    }
    .social {
      display: flex;
      gap: 20px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
